<div class="nav-container">
    <nav class="nav navbar-inverse" id="j-main-nav" role="navigation" nav-hold>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="app">Jaden</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="j-inside-nav">
            <li><a ui-sref="app.jada" ng-class="{'active':hdc.checkActivePage('jada')}"><i class="fa fa-microphone"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu">
                <li><input type="text" ng-model="hdc.selected" placeholder="Search for Chip" uib-typeahead="chip as chip.title for chip in hdc.chips | filter:{title:$viewValue} | limitTo:3" typeahead-min-length="1" typeahead-on-select="hdc.selectChip($item)" class="form-control"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
